@use "../mixins/borders";
@use "../mixins/shadows";
@use "../base/looks";

// TODO - Add transitions
// TODO - Make corners a bit rounder (optional? with another class?)

// Base button class
button.neo-btn {
    @include borders.neobrutalism-border;

    cursor: pointer;
    outline: none;
    background-color: #FFF;
    padding: 0.5em 1em;

    transition: 0.2s;

    &:hover {
        @include shadows.translate-box-shadow;
    }

    // TODO maybe make this a mixin?
    // TODO maybe make all of them below mixins???
    &:active {
        transform: translate(0) translate3d(0,0,0);
        box-shadow: none;
    }

    &:not(:active){
        @include shadows.hover-shadow-effect;
    }

    &.shadow-fixed {
        @include shadows.neobrutalism-shadow;
    }

    @include shadows.no-transform-shadow-hover
}

/*
    Size variants
*/
// Small size variant
button.neo-btn--s {
    @extend .neo-btn;
    padding: 0.3em 0.75em;
    font-size: 0.9em;
}

// Big size variant
button.neo-btn--l {
    @extend .neo-btn;
    padding: 0.7em 1.25em;
    font-size: 1.2em;
}

// Bigger size variant
button.neo-btn--xl {
    @extend .neo-btn;
    padding: 0.8em 1.5em;
    font-size: 1.4em;
}
