@use "../mixins/borders";
@use "../mixins/shadows";
@use "../mixins/animations";
@use "../base/colors";

input.neo-checkbox {
  @include borders.neobrutalism-border;
  @include shadows.no-transform-shadow-hover;
  @include animations.transition-time;

  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:checked {
    background-color: #007bff;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-bottom: 3px solid #fff;
      border-right: 3px solid #fff;
      width: 8px;
      height: 14px;
    }
  }

  &:focus {
    // TODO: Add focus styles
  }
}


.neo-checkbox-cross {

}

.neo-checkbox-square {

}
