@use "../mixins/borders";
@use "../mixins/shadows";
@use "../mixins/animations";
@use "../base/colors";

$white: map-get(colors.$neo-colors, "white");
$black: colors.$black;

@mixin neo-checkbox-styles {
  @include borders.neobrutalism-border;
  @include shadows.no-transform-shadow-hover;
  @include animations.transition-time;

  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background-color: $white;
  cursor: pointer;
  position: relative;
  display: inline-block;

  &:hover {
    @include shadows.translate-box-shadow;
  }

  &:checked {
    transform: translate(0) translate3d(0,0,0);
  }

  &:checked:not(.shadow-fixed) {
    box-shadow: none !important;
  }

  &.shadow-fixed {
    @include shadows.neobrutalism-shadow;
  }

  &:focus {
    @include shadows.hover-shadow-effect;
  }

  &:not(:focus) {
    @include shadows.hover-shadow-effect;
  }
}

// Checkmark style checkbox
input[type=checkbox].neo-checkbox {
  @include neo-checkbox-styles;

  &:checked {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-bottom: 3px solid;
      border-right: 3px solid;
      width: 8px;
      height: 14px;
    }
  }
}


// Cross style checkbox
input[type=checkbox].neo-checkbox-cross {
  @include neo-checkbox-styles;

  &:checked {
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $black;
    }

    &::before {
      left: 7px;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 3px;
      height: 11px;
    }

    &::after {
      left: 50%;
      top: 7px;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 11px;
      height: 3px;
    }
  }
}

// Small square style checkbox
input[type=checkbox].neo-checkbox-square {
  @include neo-checkbox-styles;

  &:checked {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      background-color: $black;
    }
  }
}
