@use '../mixins/borders';
@use '../mixins/shadows';
@use '../mixins/animations';
@use '../base/colors';

$white: map-get(colors.$neo-colors, 'white');
$black: colors.$black;
$error: map-get(colors.$feedback-colors, 'danger');

textarea.neo-input-textarea {
  @include borders.neobrutalism-border;
  @include shadows.no-transform-shadow-hover;
  @include animations.transition-time;

  padding: 0.5em 0.6em;
  outline: none;
  width: 100%;

  &:hover {
    @include shadows.translate-box-shadow;
  }

  &:focus {
    transform: translate(0) translate3d(0, 0, 0);
    box-shadow: none;
  }

  &:hover:focus:not(.shadow-fixed) {
    box-shadow: none !important;
    transform: translate(0) translate3d(0, 0, 0) !important;
  }

  // TODO maybe make this a mixin?
  // TODO maybe make all of them below mixins???
  &:active {
    transform: translate(0) translate3d(0, 0, 0);
    box-shadow: none;
  }

  &:not(:active) {
    @include shadows.hover-shadow-effect;
  }

  &.shadow-fixed {
    @include shadows.neobrutalism-shadow;
  }
  //

  // TODO: swap this out with the disabled mixin when it's ready
  &:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
  }

  &.error {
    border-color: $error;
  }

  &.rounded {
    padding: 0.5em 0.9em;
  }
}
