@use "../mixins/shadows";

.rounded {
  border-radius: 20px;
}

/*
  Shadow
 */
.shadow {
  @include shadows.neobrutalism-shadow;
  transform: translate(-2px, -4px);
}

.shadow:hover {
  // TODO: Add transition
  box-shadow: none;
}

.shadow-fixed {
  @include shadows.neobrutalism-shadow;
  transform: translate(-2px, -4px);
}
